<%= form_for(@catalog) do |f| %>
  <% if @catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalog.errors.count, "error") %> prohibited this catalog from being saved:</h2>

      <ul>
      <% @catalog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Название' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :file, 'Файл' %><br />
    <%= f.text_field :file %>
  </div>
  <div class="field">
    <%= f.label :length, 'Длительность' %><br />
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :price, 'Цена' %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :sold, 'Продано' %><br />
    <%= f.check_box :sold %>
  </div>
  <div class="actions">
    <%= f.submit 'Создать' %>
  </div>
<% end %>
