<h1>Каталог</h1>

<% @catalogs.each do |catalog| %>
  <div class="catalog_product">
    <h2 class="catalog_title">Название: <%= catalog.title %></h2>
    <div class="catalog_file">Демо: <%= catalog.file %></div>
    <div class="catalog_length">Длительность: <%= catalog.length %></div>
    <div class="catalog_price">Цена: <%= catalog.price %></div>
    <div class="catalog_sold">Продано: <%= catalog.sold ? "Да" : "Нет"  %></div>
    <div class="catalog_actions">
    <%= link_to 'Show', catalog %>
    <%= link_to 'Edit', edit_catalog_path(catalog) %>
    <%= link_to 'Destroy', catalog, :confirm => 'Are you sure?', :method => :delete %><br />
    </div>
  </div>
<% end %>

<br />

<%= link_to 'New Catalog', new_catalog_path %>
