<p id="notice"><%= notice %></p>
<div class="catalog_product_show">
  <div class="catalog_title_show">Название: <span><%= @catalog.title %></span></div>
  <div class="catalog_file_show">Демо: <span><%= @catalog.file %></span></div>
  <div class="catalog_length_show">Длительность: <span><%= @catalog.length %></span></div>
  <div class="catalog_price_show">Цена: <span><%= @catalog.price %> руб.</span></div>
  <div class="catalog_sold_show">Продано: <span><%= @catalog.sold ? "Да" : "Нет"  %></span></div>
  <div class="catalog_actions">
    <%= link_to 'Edit', edit_catalog_path(@catalog) %>
    <%= link_to 'Destroy', @catalog, :confirm => 'Are you sure?', :method => :delete %><br />
  </div>
</div>

<%= link_to 'Назад', catalogs_path %>
