<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>
<div class="catalog_product_show">
  <div class="catalog_title_show">Название: <span><%= @catalog.title %></span></div>
  <div class="catalog_length_show">Длительность: <span><%= @catalog.length %></span></div>
  <div class="catalog_price_show">Цена: <span><%= @catalog.price %> руб.</span></div>
  <div class="catalog_sold_show">Продано: <span><%= @catalog.sold ? "Да" : "Нет"  %></span></div>
  <p>
  <object id="audioplayer478" type="application/x-shockwave-flash" data="<%= root_url %>uppod.swf" width="300" height="35"><param name="allowScriptAccess" value="always" /><param name="wmode" value="transparent" /><param name="movie" value="<%= root_url %>uppod.swf" /><param name="flashvars" value="comment=nn&amp;st=<%= root_url %>styles/audio66-298.txt&amp;file=<%= root_url + 'system/' + @catalog.minus.url %>" /></object>
  </p>
  
  <div class="catalog_actions">
    <%= link_to 'Edit', edit_catalog_path(@catalog) %>
    <%= link_to 'Destroy', @catalog, :confirm => 'Are you sure?', :method => :delete %><br />
  </div>
</div>

<%= link_to 'Назад', catalogs_path %>
