<h1 class="catalog_site_title">Админы</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% @users.each do |user| %>
  <div class="users">
    <p>Логин:<%= user.name %></p>
    <p>Hashed password: <%= user.hashed_password %></p>
    <p>Salt: <%= user.salt %></p>
    <p class="catalog_actions">
      <%= link_to 'Показать', user %>
      <%= link_to 'Редактировать', edit_user_path(user) %>
      <%= link_to 'Удалить', user, :confirm => 'Are you sure?', :method => :delete %>
    </p>
  </div>
<% end %>
<br />
<%= link_to 'Новый админ', new_user_path %>
