<h1 class="catalog_site_title">Новости</h1>
<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>
<% if empty_news %>
<p id="notice">
<%= empty_news %>
</p>
<% end %>
<% @news.each do |new| %>
  <div class="post_one">
    <div class="title">
      <%= link_to new.title, "news/#{new.id}" %>
    </div>
    <div class="content">
      <%= raw(new.body) %>
    </div>
    <div class="date_add">
      Дата публикации: <%= new.created_at.strftime("%d.%m.%Y") %>
    </div>
  </div>
<% end %>
<div class="willpaginate">
<%= will_paginate @news %>
</div>
