<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>
  <div class="post_one">
    <div class="title">
      <%= @new.title %>
    </div>
    <div class="content">
      <%= raw(@new.body) %>
    </div>
    <div class="date_add">
      Дата публикации: <%= @new.created_at.strftime("%d.%m.%Y") %>
    </div>
<div id="vk_comments"></div>
<script type="text/javascript">
window.onload = function () {
 VK.init({apiId: 2177636, onlyWidgets: true});
 VK.Widgets.Comments('vk_comments', {width: 500, limit: 15}, 321);
}
</script>
  </div>
  <div class="newcatalogbutton">
  <%= button_to "Назад", news_path, :method => :get %>
  </div>
