<h1>Полезные ссылки</h1>
<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>
<% @links.each do |link| %>
  <div class="link_one"><%= link_to link.title, link.url %></div>
  <div class="catalog_actions">
    <%= link_to 'Показать', link %>
    <%= link_to 'Редактировать', edit_link_path(link) %>
    <%= link_to 'Удалить', link, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>

<div class="newcatalogbutton">
  <%= button_to 'Новая ссылка', new_link_path, :method => :get %>
</div>

<div class="willpaginate">
<%= will_paginate @links %>
</div>
