<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>

<p>
  <b>Title:</b>
  <%= @link.title %>
</p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<%= link_to 'Редактировать', edit_link_path(@link) %> |
<%= link_to 'Назад', links_path %>
