<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>
  <div class="post_one">
    <div class="title">
      <%= @stock.title %>
    </div>
    <div class="content">
      <%= raw(@stock.body) %>
    </div>
    <div class="date_add">
      Дата публикации: <%= @stock.created_at.strftime("%d.%m.%Y") %>
    </div>
  </div>
  <div class="newcatalogbutton">
  <%= button_to "Назад", stocks_path, :method => :get %>
</div>
