<!--tiny mce-->
<%= javascript_include_tag 'mce/tiny_mce.js' %>
<script type="text/javascript">
  tinyMCE.init({
    theme : "advanced",
    mode : "textareas",
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    theme_advanced_statusbar_location : "bottom"
  });
</script>

<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this catalog from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p class="field">
    <%= f.label :title, "Название" %><br/ >
    <%= f.text_field :title %>
  </p>
  <p class="field">
    <%= f.label :body, "Текст" %><br />
    <%= f.text_area :body, :size => "60x20" %>
  </p>
  <p class="field">
    <%= f.label :category, "Категория" %><br />
    <%= f.select :category, Post::CATEGORY, :prompt => "Выберите категорию" %>
  </p>
  <p>
    <%= f.submit "Создать" %>
  </p>
<% end %>
