<h1 class="catalog_site_title">Новости</h1>
<% if notice%>
<p id="notice">
  <%= notice %>
</p>
<% end %>
<% @posts.each do |post| %>
  <div class="post_one">
    <div class="title">
      <%= link_to post.title, post %>
    </div>
    <div class="content">
      <%= post.body %>
    </div>
  </div>
  <div class="catalog_actions">
    <%= link_to 'Редактировать', edit_post_path(post) %>
    <%= link_to 'Удалить', post, :confirm => 'Вы уверены?', :method => :delete %><br />
  </div>
<% end %>
<div class="newcatalogbutton">
<%= button_to 'Новая запись', new_post_path, :method => "get" %>
</div>
<div class="willpaginate">
<%= will_paginate @posts %>
</div>
