<h1 class="catalog_site_title">Каталог</h1>
<% if notice%>
  <p id="notice">
    <%= notice %>
  </p>
<% end %>
<% @catalogs.each do |catalog| %>
  <%= form_tag(pay_path,:method => "post") do %>
  <div style="margin:0;padding:0;display:inline">
    <input name="id" type="hidden" value="<%= catalog.id %>" />
  </div> 
  <div class="catalog_product">
    <h2 class="catalog_title">Название: <%= catalog.title %></h2>
    <div class="catalog_length">Длительность: <%= catalog.length %></div>
    <div class="catalog_price">Цена: <%= catalog.price %> руб.</div>
    <div class="catalog_sold">Продано: <%= catalog.sold ? "Да" : "Нет"  %></div>
    <p>
  <object id="audioplayer478" type="application/x-shockwave-flash" data="<%= root_url %>uppod.swf" width="300" height="35"><param name="allowScriptAccess" value="always" /><param name="wmode" value="transparent" /><param name="movie" value="<%= root_url %>uppod.swf" /><param name="flashvars" value="comment=nn&amp;st=<%= root_url %>styles/audio66-298.txt&amp;file=<%= root_url + catalog.minus.url %>" /></object>
    </p>
    <div class="catalog_actions">
      <%= button_to "Купить" %>
    </div>
  </div>
  <% end %>
<% end %>

<br />
<div class="willpaginate">
<%= will_paginate @catalogs %>
</div>
