<div id="header">
  <div id="header_back">
    &nbsp;                                                                          
  </div>
  <div class="logo">
    <%= image_tag 'logo.jpg', :height => 50, :width => 80 %>
  </div>
  <div class="menu">
    <ul>
      <li><%= link_to 'Домой', root_path %></li>
      <li><%= link_to 'Ссылки', links_path %></li>
      <li><%= link_to 'Контакты', contacts_path %></li>
      <li><%= link_to 'О нас', about_path %></li>
    </ul>
  </div>
</div>
<div id="slides">
  <div id="main_menu">
    <ul>
      <li class="catalog"><%= link_to 'Каталог', store_url  %></li>
      <li class="order"><%= link_to 'Новости', news_url %></li>          
      <li class="free"><%= link_to 'Акции', stocks_path %></li>          
    </ul>  
  </div>     
</div>
