<div id="sidebar">
          <div class="side_block">
            <h2 class="side_title">
              Свежие минуса
            </h2>
            <div class="side_cont">
              <ul>
                <% if new_minus.empty? %>
                  <li>Нету свежих минусов :)</li>
                <% else %>
                  <% new_minus.each do |minus| %>
                    <li><%= link_to minus.title, "/store/#{minus.id}" %></li>
                  <% end %>
                <% end %>              
              </ul>
            </div>
          </div>  
          <div class="side_block">
            <h2 class="side_title">
              Проданные минуса
            </h2>
            <div class="side_cont">
              <ul>
                <% if sold_minus.empty? %>
                  <li>Пока никто не купил:)</li>
                <% else %>
                  <% sold_minus.each do |minus| %>
                    <li><%= link_to minus.title, "/store/#{minus.id}" %></li>
                  <% end %>
                <% end %>                
              </ul>
            </div>
          </div>
          <div class="side_block">
            <h2 class="side_title">
              Как связаться с нами
            </h2>
            <div class="side_cont">
              <p class="howcontactus">
              Email: support@theminus.ru<br />
              Skype: lagox.skype<br />
              Тел.: +7(777)375-49-85(KZ)
              </p>
            </div>
          </div>
          <% unless @user.nil? %>
            <div class="side_block">
              <h2 class="side_title">
                Админка
              </h2>
              <div class="side_cont">
                Ваш логин: <%= @user.name %><br />
                <%= link_to 'Админка', admin_url%><br />
                <%= link_to 'Новый минус', new_catalog_path %><br />
                <%= link_to 'Новая запись', new_post_path %>
              </div>
            </div>
          <% end %>
        </div>
